.message-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-top: 1px solid #999;
}

.message-input-text {
  width: 70%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.message-input-button {
  margin-left: 5px;
  height: 30px;
  width: 60px;
  font-weight: 700;
  background: #333;
  color: white;
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
}
