.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-bottom: 1px solid #999;
}

.header-title {
  font-weight: 600;
  font-size: 1.2em;
  color: #222;
  margin-right: 10px;
}

.header-users-count,
.header-messages-count {
  margin-left: 10px;
  color: #333;
}

.header-last-message-date {
  margin-left: auto;
  color: #333;
}
